@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;400&display=swap');
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Noto Sans Display', sans-serif;
    background-color: black;
}
.container {
    background-color: #3780ff;
    width: 1000px;
    margin: auto;
}
header {
    background-color: #3780ff;
    text-align: center;
    padding: 7px;
}
.title-up {
    font-size: 24px;
}